.sunny{
  width: 46px;
  height: 44px;
  background: url(icons_sprite.jpg) 0 0;
}
.partly-cloudy{
  width: 46px;
  height: 44px;
  background: url(icons_sprite.jpg) 0 0;
}
.cloudy{
  width: 46px;
  height: 44px;
  background: url(icons_sprite.jpg) 0 0;
}
.rainy{
  width: 46px;
  height: 44px;
  background: url(icons_sprite.jpg) 0 0;
}
.thunderstorm{
  width: 46px;
  height: 44px;
  background: url(icons_sprite.jpg) 0 0;
}
.snow{
  width: 46px;
  height: 44px;
  background: url(icons_sprite.jpg) 0 0;
}